.sidebar {
    position: fixed;
    left:0;
    bottom: 0;
    top: 65px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 7px;
}

.side-link {
    height: 95px;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    cursor: pointer;

}
.side-link:hover {
    background-color: lightgray;   
}
.side-link img {
    width: 40px;
    margin-bottom: 4px;
}
.side-link div {
    font-family: Roboto, Arial;
    font-size: 10px;
}